<!-- IF S_IN_ADMIN -->
    </td>
  </tr>
</table>
<!-- ENDIF -->
<br />
<!-- IF S_NORMAL_FOOTER -->
<!-- IF S_SHOW_QUERIES -->
<table width="100%" border="0" cellspacing="1" cellpadding="2">
  <tr>
    <th align="center">Queries</th>
  </tr>
  <!-- BEGIN query_row -->
  <tr class="{query_row.ROW_CLASS}">
    <td width="100%">{query_row.QUERY}</td>
  </tr>
  <!-- END query_row -->
</table>
<br />
<!-- ENDIF -->
<!-- 
    If you use this software and find it to be useful, we ask that you
    retain the copyright notice below.  While not required for free use,
    it will help build interest in the EQdkp project.
//-->
<center>
<span class="credits">World of Warcraft EQdkp template "WoWMoonclaw01" created by <a class="credits" href="{TEMPLATE_PATH}/images/maevah.jpg" target="_blank">MAËVAH</a> (ex-<a class="credits" href="{TEMPLATE_PATH}/images/moonclaw.jpg" target="_blank">MOONCLAW</a>) &amp; <a class="credits" href="{TEMPLATE_PATH}/images/ssirul.jpg" target="_blank">SSIRUL</a>  (v2.00) - <a href="http://www.wowcr.net/" target="_blank">http://www.wowcr.net</a>, <a href="http://www.wowcr.net/templates/" target="_blank">Templates</a><br />
<a class="credits" href="http://www.blizzard.com/legalfaq.shtml" target="_blank">&copy;</a> World of Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries. wowcr.net is in no way associated with Blizzard Entertainment.<br />
  <span class="copy">{L_POWERED_BY} <a href="http://eqdkp.com/" target="_new" class="copy">EQdkp</a>
  <!-- IF S_IN_ADMIN -->{EQDKP_VERSION}<!-- ENDIF -->
  <br />&copy; 2003-2007 The EQdkp Project Team</span>
</span>
</center>
<br />
<!-- IF S_SHOW_DEBUG -->
<center><span class="copy">{EQDKP_RENDERTIME} | {EQDKP_QUERYCOUNT} | <a href="http://validator.w3.org/check/referer" target="_top" class="copy">XHTML Validate</a></span></center>
<!-- ENDIF -->
<!-- ENDIF -->
</body>
</html>