#avatar {
	width: 120px;
	padding: 20px 0px;
	left: 0px;
}
#iconpanel {
	left:10px;
	position: absolute;
}

#portraitborder {
	position: absolute;
	left:-9px;
	top:-9px; 
	width: 82px;
	height: 83px;
}
#portrait {
	position:relative; 
	left:40px; 
	width: 64px; 
	height: 64px;
}
.portrait-player-level {
	position:absolute; 
	right:9px; 
	top:61px;
	color:#FFFF00;
	font-weight:bold;
	font-size:x-small;"
}
